[submodule "wp"]
	path = wp
	url = git://github.com/WordPress/WordPress.git
[submodule "content/mu-plugins/amazon-web-services"]
	path = content/mu-plugins/amazon-web-services
	url = git@github.com:amprog/amazon-web-services.git
[submodule "content/mu-plugins/amazon-s3-and-cloudfront"]
	path = content/mu-plugins/amazon-s3-and-cloudfront
	url = git@github.com:amprog/amazon-s3-and-cloudfront.git
[submodule "content/mu-plugins/wp-ses"]
	path = content/mu-plugins/wp-ses
	url = git@github.com:amprog/wp-ses.git
[submodule "content/mu-plugins/wordpress-seo"]
	path = content/mu-plugins/wordpress-seo
	url = git@github.com:amprog/wordpress-seo.git
[submodule "content/plugins/jetpack"]
	path = content/plugins/jetpack
	url = git@github.com:amprog/jetpack.git
[submodule "content/mu-plugins/ewww-image-optimizer"]
	path = content/mu-plugins/ewww-image-optimizer
	url = git@github.com:amprog/ewww-image-optimizer.git
[submodule "content/mu-plugins/gravity-forms"]
	path = content/mu-plugins/gravity-forms
	url = git@github.com:amprog/gravity-forms.git
[submodule "content/mu-plugins/acf-pro"]
	path = content/mu-plugins/acf-pro
	url = git@github.com:amprog/acf-pro.git
[submodule "content/mu-plugins/wp-pretty-embed"]
	path = content/mu-plugins/wp-pretty-embed
	url = git@github.com:amprog/wp-pretty-embed.git
[submodule "content/plugins/shortcode-ui"]
	path = content/plugins/shortcode-ui
	url = git@github.com:amprog/shortcode-ui.git
[submodule "content/plugins/json-rest-api"]
	path = content/plugins/json-rest-api
	url = git@github.com:amprog/json-rest-api.git
[submodule "content/plugins/cap-social-highlighter"]
	path = content/plugins/cap-social-highlighter
	url = git@github.com:amprog/cap-social-highlighter.git
[submodule "content/plugins/gravity-forms-survey"]
	path = content/plugins/gravity-forms-survey
	url = git@github.com:amprog/gravity-forms-survey.git
[submodule "content/plugins/gravity-forms-stripe"]
	path = content/plugins/gravity-forms-stripe
	url = git@github.com:amprog/gravity-forms-stripe.git
[submodule "content/plugins/gravity-forms-polls"]
	path = content/plugins/gravity-forms-polls
	url = git@github.com:amprog/gravity-forms-polls.git
[submodule "content/plugins/gravity-forms-quiz"]
	path = content/plugins/gravity-forms-quiz
	url = git@github.com:amprog/gravity-forms-quiz.git
[submodule "content/plugins/cap-byline"]
	path = content/plugins/cap-byline
	url = git@github.com:amprog/cap-byline.git
[submodule "content/plugins/cap-content-blocks"]
	path = content/plugins/cap-content-blocks
	url = git@github.com:amprog/cap-content-blocks.git
[submodule "content/plugins/gravity-forms-slack"]
	path = content/plugins/gravity-forms-slack
	url = git@github.com:amprog/gravity-forms-slack.git
[submodule "content/plugins/slack"]
	path = content/plugins/slack
	url = git@github.com:amprog/slack.git
