[submodule "wp"]
	path = wp
	url = git://github.com/WordPress/WordPress.git
[submodule "content/mu-plugins/amazon-web-services"]
	path = content/mu-plugins/amazon-web-services
	url = git@github.com:amprog/amazon-web-services.git
[submodule "content/mu-plugins/amazon-s3-and-cloudfront"]
	path = content/mu-plugins/amazon-s3-and-cloudfront
	url = git@github.com:amprog/amazon-s3-and-cloudfront.git
[submodule "content/mu-plugins/wp-ses"]
	path = content/mu-plugins/wp-ses
	url = git@github.com:amprog/wp-ses.git
[submodule "content/mu-plugins/wordpress-seo"]
	path = content/mu-plugins/wordpress-seo
	url = git@github.com:amprog/wordpress-seo.git
[submodule "content/plugins/jetpack"]
	path = content/plugins/jetpack
	url = git@github.com:amprog/jetpack.git
[submodule "content/mu-plugins/ewww-image-optimizer"]
	path = content/mu-plugins/ewww-image-optimizer
	url = git@github.com:amprog/ewww-image-optimizer.git
[submodule "content/mu-plugins/gravity-forms"]
	path = content/mu-plugins/gravity-forms
	url = git@github.com:amprog/gravity-forms.git
[submodule "content/mu-plugins/acf-pro"]
	path = content/mu-plugins/acf-pro
	url = git@github.com:amprog/acf-pro.git
[submodule "content/mu-plugins/wp-pretty-embed"]
	path = content/mu-plugins/wp-pretty-embed
	url = git@github.com:amprog/wp-pretty-embed.git
